<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>


<header>

    <h1><a th:href="@{/}">Anderlechtse NGO</a></h1>
    <nav>

        <a th:href="@{/new}">Nieuw Evenement</a> |
        <a th:href="@{/about}">Over Ons</a>

    </nav>

</header>

<h2>Over de vzw</h2>

<p>
    Wij zijn een Anderlechtse vzw die zich inzet voor gemeenschapsopbouw en ondersteuning van kwetsbare doelgroepen.
</p>

<p>
    📍 Adres: Barastraat 999, 1070 Anderlecht
    📧 E-mail: info@anderlechtse-ngo.be
    ☎️ Tel: 02 999 99 99
</p>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, turpis nec facilisis commodo...
</p>

<footer>

    <p>&copy; Anderlechtse NGO - 2025</p>
</footer>


</body>
</html>