<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Evenementen</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>

<header>
    <h1><a th:href="@{/}">Anderlechtse NGO</a></h1>
    <nav>
        <a th:href="@{/new}">Nieuw Evenement</a> |
        <a th:href="@{/about}">Over Ons</a>
    </nav>
</header>


<h2>Laatst toegevoegde evenementen</h2>


<table border="1">
    <thead>
    <tr>

        <th>Titel</th>
        <th>Organisatie</th>
        <th>Details</th>

    </tr>
    </thead>

    <tbody>

    <tr th:each="event : ${events}">
        <td th:text="${event.title}"></td>
        <td th:text="${event.organization}"></td>
        <td><a th:href="@{/details/{id}(id=${event.id})}">Bekijk</a></td>
    </tr>

    </tbody>

</table>



<footer>
    <p>&copy; Anderlechtse NGO - 2025</p>
</footer>



</body>
</html>